server:
  port: 10001 # 8080
  contextPath: /ipay
  
spring:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update # validate, update, create, create-drop
  datasource:
    #url: jdbc:mysql://rds-ferdinand-london.cpoiz5ncholm.eu-west-2.rds.amazonaws.com:3306/ferdinand?verifyServerCertificate=false&useSSL=false&requireSSL=false
       # jdbc:mysql://rds-ferdinand-london.cpoiz5ncholm.eu-west-2.rds.amazonaws.com:3306/ferdinand
       # jdbc:mysql://localhost:3306/test?verifyServerCertificate=false&useSSL=false&requireSSL=false
    #username: vassit
    #password: vass1tlon
    url: # jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=runscript from 'src/main/resources/db/createH2.sql'; # \\,runscript from 'src/main/resources/db/importH2.sql'; 
         jdbc:h2:tcp://localhost/~/test; # DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=runscript from 'src/main/resources/db/createH2.sql';       # jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE 
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jackson:
    serialization.fail-on-empty-beans: false 
    # spring.jackson.serialization.fail-on-empty-beans=false  
exchange:
  apiProtocol: "http"
  apiDomain: "api.fixer.io"
  apiPath: "/latest"    
# spring.jpa.hibernate.ddl-auto=create
# spring.datasource.url=jdbc:mysql://localhost:3306/db_example
# spring.datasource.username=springuser
# spring.datasource.password=ThePassword

